<a href="https://colab.research.google.com/github/JamieLeeSantos/JamieLeeSantos.github.io/blob/main/Lab_Activity_Santos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

ds_salaries=pd.read_csv("ds_salaries.csv")
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

salaries = ds_salaries["salary_in_usd"]
average = np.average(salaries)
std = np.std(salaries)
print("1. \nThe average salary is: $" + str(average))
print("The standard deviation is: " + str(std))

job_title = ds_salaries["job_title"]
unique = np.unique(job_title)
print("\n2. The unique job titles are:")
counter = 0
for index, element in enumerate(unique):
    if index < len(unique) - 1:
        print(element, end=', ')
    else:
        print(element, end='.')
    counter += 1
    if counter == 5:
        print()
        counter = 0

print("\n\n3. Unique Job titles with their average salary in USD and Standard Deviation")
grouped = ds_salaries.groupby('job_title')['salary_in_usd'].agg([np.mean, np.std])

# write the results to a new csv file
print(grouped)

1.
The average salary is: $137570.38988015978
The standard deviation is: 63047.228497405435

2. The unique job titles are:
3D Computer Vision Researcher, AI Developer, AI Programmer, AI Scientist, Analytics Engineer,
Applied Data Scientist, Applied Machine Learning Engineer, Applied Machine Learning Scientist, Applied Scientist, Autonomous Vehicle Technician,
Azure Data Engineer, BI Analyst, BI Data Analyst, BI Data Engineer, BI Developer,
Big Data Architect, Big Data Engineer, Business Data Analyst, Business Intelligence Engineer, Cloud Data Architect,
Cloud Data Engineer, Cloud Database Engineer, Compliance Data Analyst, Computer Vision Engineer, Computer Vision Software Engineer,
Data Analyst, Data Analytics Consultant, Data Analytics Engineer, Data Analytics Lead, Data Analytics Manager,
Data Analytics Specialist, Data Architect, Data DevOps Engineer, Data Engineer, Data Infrastructure Engineer,
Data Lead, Data Management Specialist, Data Manager, Data Modeler, Data Operations Analyst,
Data Operations Engineer, Data Quality Analyst, Data Science Consultant, Data Science Engineer, Data Science Lead,
Data Science Manager, Data Science Tech Lead, Data Scientist, Data Scientist Lead, Data Specialist,
Data Strategist, Deep Learning Engineer, Deep Learning Researcher, Director of Data Science, ETL Developer,
ETL Engineer, Finance Data Analyst, Financial Data Analyst, Head of Data, Head of Data Science,
Head of Machine Learning, Insight Analyst, Lead Data Analyst, Lead Data Engineer, Lead Data Scientist,
Lead Machine Learning Engineer, ML Engineer, MLOps Engineer, Machine Learning Developer, Machine Learning Engineer,
Machine Learning Infrastructure Engineer, Machine Learning Manager, Machine Learning Research Engineer, Machine Learning Researcher, Machine Learning Scientist,
Machine Learning Software Engineer, Manager Data Management, Marketing Data Analyst, Marketing Data Engineer, NLP Engineer,
Power BI Developer, Principal Data Analyst, Principal Data Architect, Principal Data Engineer, Principal Data Scientist,
Principal Machine Learning Engineer, Product Data Analyst, Product Data Scientist, Research Engineer, Research Scientist,
Software Data Engineer, Staff Data Analyst, Staff Data Scientist.

3. Unique Job titles with their average salary in USD and Standard Deviation
                                                   mean            std
job_title
3D Computer Vision Researcher              21352.250000   20046.470685
AI Developer                              136666.090909   95973.553918
AI Programmer                              55000.000000   21213.203436
AI Scientist                              110120.875000  111733.541359
Analytics Engineer                        152368.631068   53838.467623
Applied Data Scientist                    113726.300000  106294.029790
Applied Machine Learning Engineer          99875.500000   42602.476460
Applied Machine Learning Scientist        109452.833333  108601.533927
Applied Scientist                         190264.482759   52001.244466
Autonomous Vehicle Technician              26277.500000   27262.501949
Azure Data Engineer                       100000.000000            NaN
BI Analyst                                104888.888889   57925.478946
BI Data Analyst                            60440.133333   40026.928491
BI Data Engineer                           60000.000000            NaN
BI Developer                              129846.153846   27370.440728
Big Data Architect                        125802.500000   36910.266871
Big Data Engineer                          68672.000000   52825.127385
Business Data Analyst                      66065.400000   46095.366770
Business Intelligence Engineer            174150.000000   41029.948412
Cloud Data Architect                      250000.000000            NaN
Cloud Data Engineer                        87300.666667   73716.215647
Cloud Database Engineer                   155000.000000   28722.813233
Compliance Data Analyst                    30000.000000            NaN
Computer Vision Engineer                  143536.111111  103187.877604
Computer Vision Software Engineer          77694.600000   49060.098897
Data Analyst                              108716.227124   46912.103453
Data Analytics Consultant                  81500.000000   44547.727215
Data Analytics Engineer                    67866.166667   49053.573450
Data Analytics Lead                       211254.500000  273997.513749
Data Analytics Manager                    141879.090909   20849.716661
Data Analytics Specialist                  95000.000000   14142.135624
Data Architect                            161713.772277   53281.347064
Data DevOps Engineer                       53654.000000            NaN
Data Engineer                             142785.734615   58038.090014
Data Infrastructure Engineer              175051.666667   19230.393045
Data Lead                                 212500.000000   17677.669530
Data Management Specialist                 68293.000000            NaN
Data Manager                              116613.344828   40124.743503
Data Modeler                              118900.000000   39880.822459
Data Operations Analyst                    90562.500000   24150.892841
Data Operations Engineer                   98485.000000   41778.476981
Data Quality Analyst                       85311.428571   14656.974936
Data Science Consultant                    87011.750000   40182.646119
Data Science Engineer                      93482.000000   42737.328362
Data Science Lead                         156334.375000   65039.236579
Data Science Manager                      191278.775862   63101.286320
Data Science Tech Lead                    375000.000000            NaN
Data Scientist                            140869.765476   60687.455494
Data Scientist Lead                       136153.000000   66251.662756
Data Specialist                           119642.857143   44383.463904
Data Strategist                            81000.000000   12727.922061
Deep Learning Engineer                    109241.000000   39124.199090
Deep Learning Researcher                  123405.000000            NaN
Director of Data Science                  195140.727273   90014.326191
ETL Developer                             131453.600000   87523.593993
ETL Engineer                               71394.500000   19334.420718
Finance Data Analyst                       61896.000000            NaN
Financial Data Analyst                    101666.666667   27537.852736
Head of Data                              183857.500000   92002.651359
Head of Data Science                      160591.666667   77627.657811
Head of Machine Learning                   76309.000000            NaN
Insight Analyst                            46786.000000    6014.650281
Lead Data Analyst                          72569.400000   62206.407313
Lead Data Engineer                        139230.333333   75026.102875
Lead Data Scientist                       112775.555556   66682.518931
Lead Machine Learning Engineer             82927.666667   13057.420202
ML Engineer                               158352.441176   76590.451265
MLOps Engineer                            129000.000000    5773.502692
Machine Learning Developer                 74518.285714   55142.175104
Machine Learning Engineer                 154690.726644   63142.493674
Machine Learning Infrastructure Engineer  143011.818182   60217.902509
Machine Learning Manager                  155701.333333   41741.054195
Machine Learning Research Engineer         42819.250000   31155.592429
Machine Learning Researcher               105872.666667   33824.507131
Machine Learning Scientist                163220.076923   65101.892078
Machine Learning Software Engineer        192420.000000   99504.213199
Manager Data Management                   125000.000000            NaN
Marketing Data Analyst                    144327.000000   78733.511658
Marketing Data Engineer                    66970.000000            NaN
NLP Engineer                              132785.285714  101547.251673
Power BI Developer                          5409.000000            NaN
Principal Data Analyst                    122500.000000   67175.144213
Principal Data Architect                   38154.000000            NaN
Principal Data Engineer                   192500.000000   10606.601718
Principal Data Scientist                  198171.125000   99306.052833
Principal Machine Learning Engineer       190000.000000            NaN
Product Data Analyst                       56497.200000   59888.689543
Product Data Scientist                      8000.000000            NaN
Research Engineer                         163108.378378   55055.424934
Research Scientist                        161214.195122   74944.431627
Software Data Engineer                     62510.000000   17691.811665
Staff Data Analyst                         15000.000000            NaN
Staff Data Scientist                      105000.000000            NaN